<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>R6 Case</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" href="r6_pack.png" type="image/x-icon">
    </head>
    <body>

        <header>
            <!-- Barre de navigation (navbar) -->
            <div class="navbar">
                <a id="lien" href="/">Home</a>
                <a id="lien" href="/">Cases</a>
                <a id="lien" href="#">About</a>
                <a id="lien" href="#">Contact</a>
                <% if (profile) { %>
                    <!-- Afficher l'image de l'utilisateur -->
                    <div class="profile-container" onclick="showpop_profile()"><!-- finir-->
                        <p><%= profile.name %></p><img class="img_user" id="imgHover" style="width: 60px; height: 60px;" src="/image_user/<%= profile.image %>" alt="Image de l'utilisateur">
                        <div class="popup" id="popup" style="display: none;">
                            <a id="profil" href="/"><span class="hover-underline-animation">Profil</span></a>
                            <a id="deconnexion" href="/"><span class="hover-underline-animation">Sign out</span></a>
                        </div>
                    </div>
                <% } else { %>
                    <!-- Afficher le bouton de connexion -->
                    <div class="log-container">
                        <a class="case-button" href="/profiles">LogIn</a>
                    </div>
                <% } %>
            </div>
        </header>

        <!-- <div class="search-bar">
            <input type="text" class="search" id="search" name="search" placeholder="Nom de la case">
            <button class="button" id="button">Rechercher</button>
        </div>
        
        <div class="case-container">
            <h1 class="case-title">Dark Theme Case Opening</h1>
            <p>Click the button to open the case!</p>
            <button class="case-button" onclick="openCase()">Open Case</button>
            <div id="result"></div>
        </div> -->

        <div class="pack-container-title">
            <h1>Tous nos Packs:</h1>
            <div class="pack-container">
                <% packs.forEach(function(pack) { %>
                    <div class="pack">
                        <a href="/pack/<%= pack.id %>">
                            <img class="img_pack" src="/image_pack/<%= pack.image %>" alt="Image du Pack">
                        </a>
                        <p class="name"><%= pack.name %></p>
                        <a class="case-button" href="/opening">Preview the Pack</a> <!--<%= pack.price %>¤-->
                    </div>
                <% }); %>
            </div>
        </div>


        <div class="video-container">
            <video autoplay muted loop id="video-background">
                <source src="mylivewallpapers.com-Rainbow-6-Siege.mp4" type="video/mp4">
                <!-- Ajoutez des sources supplémentaires pour la compatibilité avec différents navigateurs -->
                Votre navigateur ne prend pas en charge la balise vidéo.
            </video>
            <div class="gradient-overlay"></div>
            <div class="gradient-overlay2"></div>
        </div>

    <script src="script.js" defer></script>
</html>