<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" href="r6_pack.png" type="image/x-icon">

        <script src="javascript/com_serveur.js" defer></script>
        <script src="javascript/popup_profile.js" defer></script>
    </head>
    
    <body>
        <header>
            <!-- Barre de navigation (navbar) -->
            <div class="navbar">
                <a id="lien" href="/">Home</a>
                <a id="lien" href="/skins">Skins</a>
                <a id="lien" href="/profiles">about</a>
                <% if (profile != undefined) { %>
                    <a id="lien" href="/profiles">Les profiles</a>
                    <!-- Afficher l'image de l'utilisateur -->
                    <div id="profile-container" class="profile-container">
                        <p><%= profile.username %></p>
                        <img class="img_user" id="imgHover" style="width: 60px; height: 60px;" src="/image_user/<%= profile.image %>" alt="Image de l'utilisateur">
                        <div class="popup" id="popup" style="display: none;">
                            <a id="profil" href="/profiles"><span class="hover-underline-animation">Profil</span></a>
                            <a id="inventaire" href="/inventaire"><span class="hover-underline-animation">Inventaire</span></a>
                            <a id="deconnexion" href="#" onclick="decoProfile()"><span class="hover-underline-animation">Sign out</span></a>
                        </div>
                        <p class="money"><%= profile.money %></p>
                        <img class="img_user" style="width: 30px; height: 30px;" src="/SkinR6//RenoR6/R6S-renown-icon.jpg" alt="Image de l'utilisateur">
                    </div>
                <% } else { %>
                    <!-- Afficher le bouton de connexion -->
                    <div class="log-container">
                        <a id="loginButton" class="case-button">LogIn</a>
                    </div>
                <% } %>
            </div>
        </header>
            
        <div class="info_profile">
            <p class="user_profile"><%= profile.username %></p>
            <img class="img_user" id="imgHover" style="width: 100px; height: 100px;" src="/image_user/<%= profile.image %>" alt="Image de l'utilisateur">
            <p class="money_profile"><%= profile.money %></p>
            <p class="name_profile"><%= profile.name %></p>
            <img class="img_user" style="width: 50px; height: 50px;" src="/SkinR6//RenoR6/R6S-renown-icon.jpg" alt="Image de l'utilisateur">
        </div>
    
            <div class="container_invent">  
                <div class="container_skins">
                </div>
            </div>

    </body>
</html>